*.o
*.txt
*.out
pearson/output_*
pearson/valgrind_*
pearson/pearson
blur/test_*
blur/blur
blur/valgrind_output
callgrind.*
.vscode
pearson_v1/pearson
pearson_v1/valgrind_output
pearson_v1/output_*
pearson_v1/*.o
*.ppt
*.data
